
<div class="form-horizontal col-md-12">
                <div class="form-group">
                    <label class="col-md-2 control-label">Email address: </label>
                    <div class="col-md-10">
                        <input class="form-control" type="email" name="email" id="email" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-8 col-md-4">
                        <button class="btn btn-success form-control" onclick="ressetpass()">Re-set</button>
                    </div>
                </div>
         
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    function ressetpass() {
        $.ajax({
            url: '@Url.Action("ResetEmail", "Mailer")',
            type: 'POST',
            success: function (res) { $("#resetPass").html(res) },
        });
    }
</script>