
@{
    ViewBag.Title = "Login";
}


<div class="" style="margin-top:20px">
    <div class="row">
        <div class="col-md-7">
            <div class="center-block">
                <img class="center-block" src="~/Imgs/users.jpg" />
            </div>

        </div>
        <div class="col-md-5">
            <div class="form-horizontal col-md-12">

                <form method="post" action="@Url.Action("Login", "Users")">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Username:</label>
                        <div class="col-md-10">
                            <input class="form-control" type="text" id="username" name="username" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Password:</label>
                        <div class="col-md-10">
                            <input class="form-control" type="password" name="password" id="password" />
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-offset-8 col-md-4">
                            <input type="submit" value="login" class="form-control btn btn-success" />
                        </div>
                    </div>
                </form>
            </div>
           @Html.ActionLink("Create new account","CreateAccount",null,new {@class=""})
            <a href="#" class="lmmodal col-md-12" htmlmodal="true" htmlmodalid="#resetdiv" modal-width="600px"> Forgot password? Hit here</a>

        </div>
    </div>
</div>



<div id="resetdiv" style="display: none">
    
    <div id="response_ok">

    </div>

    <div id="mainreset">
    <h2 class="text-center">Reset Password</h2>

        <div class="text-center" id="response_bad" style="color: red">
        </div>

        <br />
        <div class="form-horizontal col-md-12">
            <div class="form-group">
                <label class="col-md-3 control-label">Email address:</label>
                <div class="col-md-9">
                    <input class="form-control" type="text" name="email" id="email" />
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-offset-8 col-md-4">
                    <button class="btn btn-success form-control" onclick="ressetpass()">Re-set</button>
                </div>
            </div>
        </div>
    </div>


</div>
<script src="~/Scripts/lmpopup.js"></script>

<script>
    function ressetpass() {
        $.ajax({
            url: '@Url.Action("ResetPass", "Users")',
            data: { email: $("#email").val()},
            type: 'POST',
            success: function (res) {
                $("#response_ok").html(res);
                $("#mainreset").html("")
            },

            error: function(msg) { $("#response_bad").html(" Error! This email address is not registered on the system, try another.") }
        });
    }
</script>