@model LifeManagement.Models.User

<div class="modal-body" style="width: 530px ; position: center ; margin:0 auto">

    <h2 class="text-center" style="color:darkslategrey"> <strong> Welcome to the Recovery Page dear: <br/> @Model.LastName, @Model.FirstName</strong></h2>

    

    <p style= "color: brown" class="col-md-offset-1"> Note: All fields are requeried * </p>

    <form method="post" action="@Url.Action("ChangePass", "Users")">

        <div class="form-horizontal col-md-12">
            <div class="form-group">
                <label class="col-md-4 control-label" style="text-align: left"> New password </label>
                <div class="col-md-8">
                    <input class="form-control" type="text" name="newpass" id="newpass" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" style="text-align: left "> Confirm New password </label>
                <div class="col-md-8">
                    <input class="form-control" type="text" name="newpass" id="newpass" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-8 col-md-4">
                    <button class="btn btn-success form-control" onclick="changepass()">Reset password</button>
                </div>
            </div>

        </div>
        </form>
</div>

<script>
    function changepass() {
        $.ajax({
            url: '@Url.Action("ChangePass", "Users")',
            data: { email: $("#email").val()},
            type: 'POST',
            success: function (res) {
                $("#response_ok").html(res);
                $("#mainreset").html("")
            },

            error: function(msg) { $("#response_bad").html(" Error! This email address is not registered on the system, try another.") }
        });
    }
</script>