@model LifeManagement.Models.User
@section bgdiv{
    <div class="bgdiv" style="background-image: url('/Imgs/meditation.jpg');opacity:0.5"></div>
}

<h2 class="text-center" style="color:forestgreen"><strong> Welcome to the Recovery Page </strong></h2>

<div class="modal-body" style="width: 530px ; position: center ; margin:0 auto">
    
    <div id="response_ok">

    </div>

    <div id="mainform">
    <h3 class=" text-center"> User: <i> @Model.FirstName @Model.LastName</i></h3>

    <p style= "color: brown" class="col-md-offset-1"> Note: All fields are requeried * </p>

        <div class="form-horizontal col-md-12">
            <div class="form-group">
                <label class="col-md-4 control-label" style="text-align: left"> New password </label>
                <div class="col-md-8">
                    <input class="form-control" type="password" name="newpass" id="newpass" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" style="text-align: left "> Confirm New password </label>

                <div id="pass_not_equal" style="color: red">

                </div>

                <div class="col-md-8">
                    <input class="form-control" type="password" name="newpass_conf" id="newpass_conf" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-8 col-md-4">
                    <button class="btn btn-success form-control" onclick="changepass()">Reset password</button>
                </div>
            </div>

        </div>
    </div>
</div>



<script>
    function changepass() {
        $.ajax({
            url: '@Url.Action("ChangePass", "Users")',
            data: { newpass: $("#newpass").val(),
            newpass_conf: $("#newpass_conf").val(),
            id: @Model.Id},
            type: 'POST',
            success: function (res) {
                $("#response_ok").html("Password updated succefully");
                setTimeout(window.location.assign(res), 1000);
            },
            error: function (msg) {
                $("#pass_not_equal").html("The passwords don't match, please try again.")
                $("#newpass").val('')
                $("#newpass_conf").val('')
            }
        });
    }
</script>