
@model LifeManagement.Models.UserViewModel

@{
    Layout = "~/Views/Shared/_layout_for_questionarie.cshtml";
}

@section AddToHead{
<link rel="stylesheet" type="text/css" href="~/Content/bety_css/normalize.css" />
<link rel="stylesheet" type="text/css" href="~/Content/bety_css/demo.css" />
<link rel="stylesheet" type="text/css" href="~/Content/bety_css/component.css" />
<link rel="stylesheet" type="text/css" href="~/Content/bety_css/cs-select.css" />
<link rel="stylesheet" type="text/css" href="~/Content/bety_css/cs-skin-boxes.css" />
<script src="~/Scripts/bety_scripts/modernizr.custom.js"></script>
    }

@section bgdiv{
    <div class="bgdiv" style="background-image: url('/Imgs/vision.jpg');opacity:0.5" ></div>
}

    <div class="modal-body" style="width: 1250px ; height: 750px; position: absolute; top: 30px ; margin:0 auto ; ">
        <div class="container">
            <div class="fs-form-wrap" id="fs-form-wrap">
                <div class="fs-title">
                    <h1 style="font-weight: bold "> <strong>Welcome abord: <i style=" color: #195BA4"> @Model.FirstName  @Model.LastName</i></strong></h1>
                    <br />
                    <h1 > Before you begin to use our portal, please take a few minutes to complete this short questionnaire </h1>
                    <br />
                    <div style=" width: 1100px ; height: 50px; font-size: 14px ; position: absolute; left: 50px">
                        <p style=" color: #195BA4; font-weight: bold">Note: <br />-   If you are unsure about the answers to these questions, the activity selection steps in the next set of pages can possibly help you complete this questionnaire. So, feel free to update these answers as often as you like.</p>
                    </div>
                </div>
            

                <form id="myform" class="fs-form fs-form-full" autocomplete="off">
                    <ol class="fs-fields">
                        <li>
                            <label class="fs-field-label fs-anim-upper" for="q1" style="color: black" data-info="This is a big picture idea of what you want to achieve in the Future. It should inspire you bring excitement to put your energy and time to achieve this future."> Why: In a nutshell, what is the purpose and vision of your life? </label>
                            <textarea class="fs-anim-lower" id="q1" name="q1" placeholder="E.g. My goal is to have a fullfilled and meaningful life centered about things that really matter to me and my community of family and friends." required ></textarea>
                        </li>
                        <li>
                            <label class="fs-field-label fs-anim-upper" for="q2" style="color: black" data-info="Goals - are broad open ended statements to achieve your vision. They describe what you want to achieve through your efforts."> What are the top 3 goals for your life as it relates to your purpose ?</label>
                            <textarea class="fs-anim-lower" id="q2" name="q2" placeholder="Enter goal 1" ></textarea>
                            <br />
                            <br />
                            <textarea class="fs-anim-lower" id="q3" name="q3" placeholder="Enter goal 2" ></textarea>
                            <br />
                            <br />
                            <textarea class="fs-anim-lower" id="q4" name="q4" placeholder="Enter goal 3" ></textarea> 
                        </li>
                        <li>
                            <label class="fs-field-label fs-anim-upper" for="q5" style="color: black" data-info="List your objectives. If you met your objectives, you will feel like you have achieved success. Objectives - are a time sensitive statement to achieve your goals and defined in measurable terms. They should be SMART"> How will you determine if your life is a success? </label>
                            <textarea class="fs-anim-lower" style=" font:14px " id="q5" name="q5" placeholder="Hint - This is a big picture idea of what you want to achieve in the Future. It should inspire you bring excitement to put your energy and time to achieve this future" required></textarea>
                            <br />
                            <br />

                            <div class="fs-radio-group fs-radio-custom clearfix fs-anim-lower">
                                <img src="~/Imgs/bety_new_img/smart_ok.png" width="600" height="200" />
                            </div>


                        </li>
                        <li>
                            <label class="fs-field-label fs-anim-upper" for="q6" style="color: black" data-info="What do you do to achieve your vision? This should provide a clear direction and focus around what you should do."> Can you provide no more than 3 short statements on how your activities connect to our vision? </label>
                            <textarea class="fs-anim-lower" id="q6" name="q6" placeholder="Enter statement 1" ></textarea>
                            <br />
                            <br />
                            <textarea class="fs-anim-lower" id="q7" name="q7" placeholder="Enter statement 2" ></textarea>
                            <br />
                            <br />
                            <textarea class="fs-anim-lower" id="q8" name="q8" placeholder="Enter statment 3" ></textarea>
                        </li>

                    </ol><!-- /fs-fields -->
                    <button class="fs-submit" type="submit" onclick="questionarie()">Send answers</button>
                </form><!-- /fs-form -->
            </div><!-- /fs-form-wrap -->
            <!-- Related demos -->
           </div> <!-- /container -->
            <script src="~/Scripts/bety_scripts/classie.js"></script>
            <!--     <script src="~/Scripts/bety_scripts/selectFx.js"></script>   -->
            <script src="~/Scripts/bety_scripts/fullscreenForm.js"></script>
            <script>
                (function () {
                    var formWrap = document.getElementById('fs-form-wrap');

                    [].slice.call(document.querySelectorAll('select.cs-select')).forEach(function (el) {
                        new SelectFx(el, {
                            stickyPlaceholder: false,
                            onChange: function (val) {
                                document.querySelector('span.cs-placeholder').style.backgroundColor = val;
                            }
                      }); 
                    });

                    new FForm(formWrap, {
                        onReview: function () {
                            classie.add(document.body, 'overview'); // for demo purposes only
                        }
                    });
                })();
            </script>

 <script>
                function questionarie() {

                    var quest_data = {
                        vision: $("#q1").val(),
                        goal_1: $("#q2").val(),
                        goal_2: $("#q3").val(),
                        goal_3: $("#q4").val(),
                        determine_success: $("#q5").val(),
                        activity_1: $("#q6").val(),
                        activity_2: $("#q7").val(),
                        activity_3: $("#q8").val(),
                    }



                    $.ajax({
                        url: '@Url.Action("collect_questionnarie", "Questionnarie")',
         data: { data: quest_data },
         type: 'POST',
         success: function (res) {  
             window.location.href = '@Url.Action("SetupSprint", "Questionnarie")';  //aqui me no se como pasarle el model al action
         },
         error: function () {
             alert("fail pk pk pk nooo");
         }
     });
                }

 </script>

</div>




