
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="~/Scripts/Coaches.js"></script>

<div ng-app="CoachApp" class="container">
    <br />
    <br />
    <input type="text" placeholder="Search Coach" ng-model="searchCoach" />
    <br />
    <div ng-controller="CoachController">
        <table class="table">
            <tr ng-repeat="r in coaches | filter : searchCoach">
                <td>{{r.Name}}</td>
                <td>{{r.Email}}</td>
                <td>
                    {{r.LastName}}
                </td>
            </tr>
        </table>
    </div>
</div>
