

@{
    ViewBag.Title = "SeeCoachesUsers";
}

@{
    Layout = "../Shared/DashboardLayout.cshtml";
}

<h3>Select the coach you wish to share your progress with.</h3>

@{Html.RenderAction("CoachesListUsers");}