@using LifeManagement.Models
@model List<LifeManagement.Models.Activity>
    @{
        var common = new LifeManagement.Models.Common();
    }
<div class="clearfix">
    @if (Model != null)
    {
        foreach (var a in Model)
        {

            <div class="cat-tiles col-sm-4 col-md-3">
                <label id="lbl">
                    <div class="cat-tiles-body">

                        <img class="cat-tiles-img" src="@common.SignatureImageStr64(a.Img, a.ImgMime)" />
                    </div>
                    <div class="cat-tiles-footer">
                        <input class="cat-tiles-chk" type="checkbox" id="chk"  onchange="validateCats(@a.Id)" />
                        <label class="cat-tiles-lbl">@a.Name</label>
                    </div>
                    <div class="cat-tiles-specifics" id="@a.Id">
                        <textarea  rows="3"></textarea>
                    </div>                </label>
            </div>

        }
    } 



    <div class="cat-tiles col-md-3">
        <label class="cat-tile-label">
            <div class="cat-tiles-body">

                <img class="cat-tiles-img" src="~/Imgs/users.jpg" />
            </div>
            <div class="cat-tiles-footer">
                <input class="cat-tiles-chk" type="checkbox" />
                <label class="cat-tiles-lbl">Activity 1</label>
            </div>
            <div class="cat-tiles-specifics">
                <textarea  rows="3"></textarea>
            </div>
        </label>
</div>
</div>

