@model LifeManagement.Models.Sprint

<link href="~/Content/ActCalendar.css" rel="stylesheet" />
<script src="~/Scripts/cmGauge.js"></script>
<link href="~/Content/cmGauge.css" rel="stylesheet" />

        <div class="col-md-12  bhoechie-tab-container">
            <div class="col-md-3  bhoechie-tab-menu">
                <div class="list-group">
                    <a href="#" class="list-group-item active text-center">
                        <h4 class="glyphicon glyphicon-plane"></h4><br />Joy
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <h4 class="glyphicon glyphicon-road"></h4><br />Passion
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <h4 class="glyphicon glyphicon-home"></h4><br />Giving Back
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <h4 class="glyphicon glyphicon-cutlery"></h4><br />Score Summary
                    </a>
                   
                </div>
            </div>
            <div class="col-md-9 bhoechie-tab">
              
                <div class="bhoechie-tab-content active">
                    <center>
                       @{Html.RenderAction("Tab",new {cat="Joy"});}
                    </center>
                </div>
               
                <div class="bhoechie-tab-content">
                    <center>
                        <center>
                            @{Html.RenderAction("Tab", new { cat = "Passion" });}
                        </center>
                    </center>
                </div>

                <div class="bhoechie-tab-content">
                    <center>
                        <center>
                            @{Html.RenderAction("Tab", new { cat = "Giving Back" });}
                        </center>
                    </center>
                </div>
                <div class="bhoechie-tab-content">
                    <center>
                       here goes the summary page
                    </center>
                </div>
              
            </div>
        </div>
   


<style>
    /*  bhoechie tab */
    div.bhoechie-tab-container{
        z-index: 10;
        background-color: #ffffff;
        padding: 0 !important;
        border-radius: 4px;
        -moz-border-radius: 4px;
        border:1px solid #ddd;
        margin-top: 20px;
        margin-left: 2px;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        background-clip: padding-box;
        opacity: 0.97;
        filter: alpha(opacity=97);
    }
    div.bhoechie-tab-menu{
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 0;
    }
    div.bhoechie-tab-menu div.list-group{
        margin-bottom: 0;
    }
    div.bhoechie-tab-menu div.list-group>a{
        margin-bottom: 0;
    }
    div.bhoechie-tab-menu div.list-group>a .glyphicon,
    div.bhoechie-tab-menu div.list-group>a .fa {
        color: #5A55A3;
    }
    div.bhoechie-tab-menu div.list-group>a:first-child{
        border-top-right-radius: 0;
        -moz-border-top-right-radius: 0;
    }
    div.bhoechie-tab-menu div.list-group>a:last-child{
        border-bottom-right-radius: 0;
        -moz-border-bottom-right-radius: 0;
    }
    div.bhoechie-tab-menu div.list-group>a.active,
    div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
    div.bhoechie-tab-menu div.list-group>a.active .fa{
        background-color: #5A55A3;
        background-image: #5A55A3;
        color: #ffffff;
    }
    div.bhoechie-tab-menu div.list-group>a.active:after{
        content: '';
        position: absolute;
        left: 100%;
        top: 50%;
        margin-top: -13px;
        border-left: 0;
        border-bottom: 13px solid transparent;
        border-top: 13px solid transparent;
        border-left: 10px solid #5A55A3;
    }

    div.bhoechie-tab-content{
        background-color: #ffffff;
        /* border: 1px solid #eeeeee; */
        padding-left: 20px;
        padding-top: 10px;
    }

    div.bhoechie-tab div.bhoechie-tab-content:not(.active){
        display: none;
    }
</style>
<script>
    $(document).ready(function () {
        $("div.bhoechie-tab-menu>div.list-group>a").click(function (e) {
            e.preventDefault();
            $(this).siblings('a.active').removeClass("active");
            $(this).addClass("active");
            var index = $(this).index();
            $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
            $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
        });
    });

    $(document).ready(function() {
        initDials(@Model.Id);

    });

    $('.gauge .gauge-arrow').cmGauge();
    function updateCatDial() {
        var joy=0, passion=0, gb=0;
        $('.caldaydiv.activeDay').each(function() {
            var cat = $(this).attr('cat');
            if (cat == "Joy")
                joy++;
            if (cat == "Passion")
                passion++;
            if (cat == "Giving Back")
                gb++;

        });
        debugger;
        $('#gaugeCat-Joy .gauge-arrow').trigger('updateGauge', joy / 36 * 100);
        $('#gaugeCat-Passion .gauge-arrow').trigger('updateGauge', passion / 36 * 100);
        $('#gaugeCat-GivingBack .gauge-arrow').trigger('updateGauge', gb / 36 * 100);
        $('#gaugeCycle .gauge-arrow').trigger('updateGauge', (joy+passion+gb) / 36 * 100);

    }
    function updateDials(actiId, actScore) {

        $('#gaugeAct-' + actiId + ' .gauge-arrow').trigger('updateGauge', actScore*100);
    }
    function initDials(sprintid) {
        data = { sprintId: sprintid};
        $.ajax({
            url: '@Url.Action("GetPercentages", "SprintActivities")',
            type: 'GET',
            data: data,

            success: function (msg) {
                debugger;
                for (var j in msg.Percentages.Joy.Data) {

                    updateDials(msg.Percentages.Joy.Data[j].actId, msg.Percentages.Joy.Data[j].percentage)

                }
                updateCatDial();

            },
            error: function(res) {
                alert('error');
            }
        });
    }
    function saveProgress(actid, day) {
        var iddiv = "#" + actid + "-" + day;

        data = { sprintActId: actid, Day: day };
        $.ajax({
            url:'@Url.Action("SaveProgress","SprintActivities")',
            type:'POST',
            data:data,
            success: function (msg) {
                if ($(iddiv).hasClass("activeDay"))
                    $(iddiv).removeClass("activeDay");
                else {
                    $(iddiv).addClass("activeDay");
                }
                updateDials(actid, msg.Percentage);
                updateCatDial();
            },
            error:function(res) {
                alert('error');
            }
        })
    }


</script>