@model IEnumerable<LifeManagement.Models.Forum>

@{
    var first = true;
    foreach (var item in Model)
    {
        if (first)
        {
            <li class="active"><a href="#">@Html.DisplayFor(modelItem => item.Coach.FirstName)</a></li>
            first = false;
        }
        else
        {
            <li><a href="#">@Html.DisplayFor(modelItem => item.Coach.FirstName)</a></li>

        }


    }
}
