@model IEnumerable<LifeManagement.Models.Conversation>
<div id="chatsection" class="col-md-12">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

</div>

<input type="text" class="form-control col-md-12" />
