@model IEnumerable<LifeManagement.Models.Forum>

@{
    var common = new LifeManagement.Models.Common();
}


<div class="clearfix">

    @foreach (var item in Model)
    {  <a href="#" class="coachlink" forumid="@item.Id">
        <div class="col-md-12 coachlinediv">

            <div class="coachimgdiv">
                <img class="coachimg" src="@common.SignatureImageStr64(item.Coach.Avatar, item.Coach.AvatarMime)" />
            </div>
            @item.Coach.FirstName

        </div>
    </a>
    }


    <input type="hidden" id="forumid" />
</div>



<script>
    $(document).ready(function() {
        setupAllUp();
    });
</script>





