<div class= "modal-body">
    <h2 class="text-center"> Your score was sent successfully to the coach</h2>

    <br />
    <div class="form-group">
        <div class="col-md-offset-8 col-md-4">
            <button class="btn btn-success form-control" onclick=" dashboard()">
                Done
            </button>
            <br />
        </div>
    </div>

</div>

<script>
    function dashboard() {
        window.location = '@Url.Action("Dashboard", "Users", null, Request.Url.Scheme)';
    }
</script>