@model LifeManagement.Models.UserViewModel

@{
    Layout = "~/Views/Shared/_layout_for_questionarie.cshtml";
}

@section AddToHead{
    <link rel="stylesheet" type="text/css" href="~/Content/bety_css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bety_css/demo.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bety_css/component.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bety_css/cs-select.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bety_css/cs-skin-boxes.css" />
    <script src="~/Scripts/bety_scripts/modernizr.custom.js"></script>
}

@section bgdiv{
    <div class="bgdiv" style="background-image: url('/Imgs/vision.jpg');opacity:0.5"></div>
}

<div class="modal-body" style="width: 1250px ; height: 600px; position: absolute; top: 70px ">
    <div class="container">
        <div class="fs-form-wrap" id="fs-form-wrap">
            <div class="fs-title">
                <h1>What are you passionate about?</h1>
            </div>
            <form id="myform" class="fs-form fs-form-full" autocomplete="off">
                <ol class="fs-fields">
                    <li data-input-trigger>
                        <label class="fs-field-label fs-anim-upper" data-info="Select upto 2 activities that you are really passionate about">What are you passionate about?</label>
                        <div class="row">
                            <select class="cs-select cs-skin-boxes fs-anim-lower col-md-4">
                                <option value="" disabled selected>Pick a color</option>
                                <option value="#my_option" data-class="my_option">my_option</option>
                                <option value="#588c75" data-class="color-588c75">#588c75</option>
                                <option value="#b0c47f" data-class="color-b0c47f">#b0c47f</option>
                                <option value="#f3e395" data-class="color-f3e395">#f3e395</option>
                                <option value="#f3ae73" data-class="color-f3ae73">#f3ae73</option>
                                <option value="#da645a" data-class="color-da645a">#da645a</option>
                                <option value="#79a38f" data-class="color-79a38f">#79a38f</option>
                                <option value="#c1d099" data-class="color-c1d099">#c1d099</option>
                                <option value="#f5eaaa" data-class="color-f5eaaa">#f5eaaa</option>
                                <option value="#f5be8f" data-class="color-f5be8f">#f5be8f</option>
                                <option value="#e1837b" data-class="color-e1837b">#e1837b</option>
                                <option value="#9bbaab" data-class="color-9bbaab">#9bbaab</option>
                                <option value="#d1dcb2" data-class="color-d1dcb2">#d1dcb2</option>
                                <option value="#f9eec0" data-class="color-f9eec0">#f9eec0</option>
                                <option value="#f7cda9" data-class="color-f7cda9">#f7cda9</option>
                                <option value="#e8a19b" data-class="color-e8a19b">#e8a19b</option>
                            </select>

                            <select class="cs-select cs-skin-boxes fs-anim-lower col-md-8">
                                <option value="" disabled selected>Pick a color</option>
                                <option value="#my_option" data-class="my_option">my_option</option>
                                <option value="#588c75" data-class="color-588c75">#588c75</option>
                                <option value="#b0c47f" data-class="color-b0c47f">#b0c47f</option>
                                <option value="#f3e395" data-class="color-f3e395">#f3e395</option>
                                <option value="#f3ae73" data-class="color-f3ae73">#f3ae73</option>
                                <option value="#da645a" data-class="color-da645a">#da645a</option>
                                <option value="#79a38f" data-class="color-79a38f">#79a38f</option>
                                <option value="#c1d099" data-class="color-c1d099">#c1d099</option>
                                <option value="#f5eaaa" data-class="color-f5eaaa">#f5eaaa</option>
                                <option value="#f5be8f" data-class="color-f5be8f">#f5be8f</option>
                                <option value="#e1837b" data-class="color-e1837b">#e1837b</option>
                                <option value="#9bbaab" data-class="color-9bbaab">#9bbaab</option>
                                <option value="#d1dcb2" data-class="color-d1dcb2">#d1dcb2</option>
                                <option value="#f9eec0" data-class="color-f9eec0">#f9eec0</option>
                                <option value="#f7cda9" data-class="color-f7cda9">#f7cda9</option>
                                <option value="#e8a19b" data-class="color-e8a19b">#e8a19b</option>
                            </select>
                        </div>
                    </li>

                </ol><!-- /fs-fields -->
                <button class="fs-submit" type="submit">Send answers</button>
            </form><!-- /fs-form -->
        </div><!-- /fs-form-wrap -->
        <!-- Related demos -->
    </div><!-- /container -->

</div>

    <script src="~/Scripts/bety_scripts/classie.js"></script>
    <script src="~/Scripts/bety_scripts/selectFx.js"></script>
    <script src="~/Scripts/bety_scripts/fullscreenForm.js"></script>
    <script>
        (function () {
            var formWrap = document.getElementById('fs-form-wrap');

            [].slice.call(document.querySelectorAll('select.cs-select')).forEach(function (el) {
                new SelectFx(el, {
                    stickyPlaceholder: false,
                    onChange: function (val) {
                        document.querySelector('span.cs-placeholder').style.backgroundColor = val;
                    }
                });
            });

            new FForm(formWrap, {
                onReview: function () {
                    classie.add(document.body, 'overview'); // for demo purposes only
                }
            });
        })();
    </script>
