<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Life Management - Dashboard</title>

    <link href="~/Content/dashboard_css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/dashboard_css/datepicker3.css" rel="stylesheet">
    <link href="~/Content/dashboard_css/styles.css" rel="stylesheet">

    <!--Icons-->
    <script src="~/Scripts/dashboard/lumino.glyphs.js"></script>

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }

    @RenderSection("AddToHeadAnotherWay", required: false)
</head>

<body>

    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="modalcontent">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Close</button>

                </div>
                <div class="modal-body" id="modalbodydiv">
                    <div id="myDialogContainer">

                    </div>

                </div>

            </div>
        </div>
    </div>

    <div>
        @RenderBody()
    </div>
   
</body>
</html>