<div class="modal-body" style=" width: 500px ; position: center ; margin:0 auto">
    <div class="form-control">
        <h2 class="text-center"> It looks like your productivy week has ended!</h2>

        <h4> Click continue to configure your next period</h4>

        <br />
        <br />
        <div class="form-group">
            <div class="col-md-offset-8 col-md-4">
                <button class="btn btn-success form-control" onclick="redirect()">
                    Continue
                </button>
            </div>
        </div>

    </div>
    </div>


    <script>
    function redirect()
    {
        window.location.href = '@Url.Action("ConfigureNewSprint", "Sprints")'; 
    }
    </script>
