<script src="~/Scripts/lmpopup.js"></script>
<link href="~/Content/CatTiles.css" rel="stylesheet" />


@{
    var common = new LifeManagement.Models.Common();
}



<h2> Click the desidered Category and select the Activity you want to edit</h2>

<br/>

<div class="clearfix form-group">
    <div class="col-md-12 text-left">
        <a class="btn btn-success lmmodal" modal-width="100%" url='@Url.Action("Joy","Activities")' href="#">Joy +</a>
    </div>
</div>



<div class="clearfix form-group">
    <div class="col-md-12 text-left">
        <a class="btn btn-success lmmodal" modal-width="100%" url='@Url.Action("Passion","Activities")' href="#">Passion +</a>
    </div>
</div>



<div class="clearfix form-group">
    <div class="col-md-12 text-left">
        <a class="btn btn-success lmmodal" modal-width="100%" url='@Url.Action("GivingBack","Activities")' href="#">Give Back +</a>
    </div>
</div>




 