@{
    ViewBag.Title = "Home Page";
}



  

<div class="cycle-slideshow col-md-12" style="height: 500px;">
    <img class="rotator-image" src="~/Imgs/bety_new_img/buterflyBlue.jpg">
    <img class="rotator-image" src="~/Imgs/bety_new_img/blueWaterFall.jpg">
    <img class="rotator-image" src="~/Imgs/bety_new_img/muelleOk.jpg">
    <img class="rotator-image" src="~/Imgs/bety_new_img/blueFlowers.jpg">
</div>



<div class="clearfix" style="background-color: #4c9be0; color:white!important">
    
    <div class="col-md-4">
        <h2>Joy</h2>
        <p>Finding Joy in your life-(Getting things done).
           Have more fun doing what you do with minimal conflicts. Being comfortable with you are(unique) and where you are in your jorney.</p>
    </div>
    <div class="col-md-4">
        <h2>Passion</h2>
        <p>Following your passion- (Big picture).
           Building small wins and using the momentum from multiple small wins to achive big results. Having a razor sharp focus in pursuing your dreams</p>
    </div>
    <div class="col-md-4">
        <h2>Giving back</h2>
        <p>
           Making a meaningful contribution to others-(Engaging with the right forks).
           Giving back to others in your own unique way. What you get in return for what you invested -
            unlike real investments works differently. You get what you get and don't be upset.
        </p>
    </div>
</div>

<script src="~/Scripts/jquery.cycle2.min.js"></script>