@{
    ViewBag.Title = "Home Page";
}
<div class="text-center col-md-12 jumbotron" style="display: none">
    <h2>Life Management</h2>
    <p class="lead">Guidance to achieve happiness</p>


</div>


  

<div class="cycle-slideshow col-md-12" style="height: 500px;">
    <img class="rotator-image" src="http://malsup.github.io/images/p2.jpg">
    <img class="rotator-image" src="http://malsup.github.io/images/p1.jpg">

    <img class="rotator-image" src="http://malsup.github.io/images/p3.jpg">
    <img class="rotator-image" src="http://malsup.github.io/images/p4.jpg">
</div>



<div class="clearfix" style="background-color: coral; color:white">
    
    <div class="col-md-4">
        <h2>Joy</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Passion</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Giving back</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>
<script src="~/Scripts/jquery.cycle2.min.js"></script>