@{
    var common = new LifeManagement.Models.Common();
}
@{
    if (common.IsAuthenticated)
    {
        <li class="dropdown pull-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> @User.Identity.Name <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Profile</a></li>
                <li><a href="@Url.Action("Dashboard","Users")"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Dashboard</a></li>
                <li><a href="@Url.Action("LogOut","Users")"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout</a></li>
            </ul>
        </li>
    }
    else
    {
        <li>
            <a href="@Url.Action("Login","Users")">Login</a>
        </li>
    }
}
