
/*******************all page***************/
   #allcontainer {
          height: 500px;
        border-radius: 10px;
    }
     .col-md-12, .col-md-3 {
      padding: 0;

  }

  /************************chat tabs***********/

   .tab-content {
   
        padding: 0px;
      
    }
     .tab-pane {
        height:100%;
    }
       .nav {
      margin: 0;
      padding: 0;
  }
   /************conversation users panel************/
     .coachescontainer {
      
         height:100%;
       background: white;
        border-right: 1px solid beige;
        overflow: auto
    }
     
  .coachimgdiv {
      height: 100%;
      width: 60px;
      float: left;
       margin-right: 5px;
  }
  .coachlinediv {
      height: 60px;
    
       background: white;
   
      line-height: 60px;
      margin-bottom: 10px;
  }
  
  .coachlinediv:hover {
      background: aliceblue;
  }
  .coachimg {
      height: 100%;
      width: 100%;
      border-radius: 10px;
     

  }
    .coachlink-active {
        background: #30a5ff;
      color: white;
      font-size: medium;
      font-weight: bolder;
  }
      
  #searhcoach-div {
      border-bottom: 1px solid beige;
  }
  
 .convosheader {
     background: #30a5ff;
     padding: 5px;
     text-align: center;
     margin-bottom: 5px;
     color: white;
     font-weight: bolder;
     font-size: large;
 }
   /*********messages panel*********/
  #chatsection {
        background: whitesmoke;
        color: blue;
         height:100%;
        padding: 5px;
     overflow: auto
    }
    .chatcontainer {
       
                height:100%;
        background: whitesmoke;
        padding: 0;
        max-width: 600px;
    }
     #convossection {
      height: 433px;
     }
      .convoline {
      background: white;
      margin-bottom: 5px;
      border-radius: 10px;
     

  }
  .convotitle {
      background: aliceblue;
      color: black;
        border-radius: 10px;
  }
  .convomsg {
      margin-bottom: 3px;
      min-height: 30px;
      border-radius: 5px;
       padding: 10px
  }
 .convoli {
          list-style: none;
         
  }
 #discussion {
     padding: 0
 }
  
  #msginput {
      height: 33px;
  }
  .CoachMsg {
      color: green;
      background: aliceblue;
  }
  .UserMsg {
      color: gray;
      background: white;
    
  }
 
   /******************coaches panel********/
   
  .coach-link {
      text-decoration: none;
  }
  .coach-link:hover {
   
       text-decoration: none;
  }
   .coach-link:hover table {
          background: aliceblue;
   }
  .coach-link:visited {
      text-decoration: none;
    
  }
   #coaches-div {
     display: none;
     position: fixed;
     z-index: 100;

 }
   
 .show-coaches {
      display: block !important;
 }
   /****************files panel***********/
  #filessection {
        background: whitesmoke;
        color: blue;
        height: 433px;
        padding: 0px;
  }
   .all-files-div {
            height:100%;
        background: whitesmoke;
        padding: 5px;
        max-width: 600px;
       overflow: auto;
  }
  .file-anchor {
       min-height: 25px;
      background: azure;
      text-align: center;
      border-radius: 10px;
      margin-bottom: 5px;
  }
  .file-div {
     

  }
  .file-viewer {
      
  }
  #attachment {
      float: left;
  }
  .upload-div {
      background: aliceblue;
      text-align: center;
  }
 
 


 



